<div class='wrapper'>
    <div class="mrow">
        <div class="group mr-2"> Group By </div>
        <div>
            <div class='container mx-0 px-0' [dragula]='"group-bag"' [dragulaModel]='data' [dragulaOptions]="{direction: 'horizontal', removeOnSpill: false}">
                <div #dragEle class="group-by-items" *ngFor="let group of data" (click)="selectGroup(group)"
                     [ngClass]="{'active': group.selected}">
                    <div class="count"> {{ group.count }}</div>
                    <div class="name"> {{ group.name | centerEllipses:15 }}</div>
                </div>
            </div>
        </div>
        <div class="ungroup ml-2" (click)="unGroup()">UnGroup</div>
    </div>
</div>
