  <div class='wrapper'>
    <div class='container mx-0' [dragula]='"first-bag"' [dragulaOptions]="{direction: 'horizontal', removeOnSpill: true}">
      <div class="group-by-items">
        <div class="count"> 23 </div>
        <div class="name"> Users </div>
      </div>
      <div class="group-by-items">
        <div class="count"> 19 </div>
        <div class="name"> Assets </div>
      </div>
      <div class="group-by-items">
        <div class="count"> 127 </div>
        <div class="name"> Applications </div>
      </div>
    </div>
  </div>
