<div class='wrapper'>
    <div class="mrow">
        <div class="group mr-2"> Group By </div>
        <div>
            <div class='container mx-0 px-0' [dragula]='"first-bag"' [dragulaOptions]="{direction: 'horizontal', removeOnSpill: true}">
                <div #dragEle class="group-by-items" *ngFor="let aggregation of aggregations" (click)="selectGroup(aggregation)"
                     [ngClass]="{'active': aggregation.enabled}">
                    <div class="count"> {{ aggregation.aggregations.length }}</div>
                    <div class="name"> {{ aggregation.name | centerEllipses:15 }}</div>
                </div>
            </div>
        </div>
        <div class="ungroup ml-2" (click)="unGroup()">UnGroup</div>
    </div>
</div>
