/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import "../../../slider";
@import "../../../variables";

.container-fluid {
  padding-top: 15px;
}

.form-title {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table th, .table td {
  padding: 0.6rem 0.25rem;
}

.up:before {
  font-family: "FontAwesome";
  font-style: normal;
  font-size: 14px;
  content: '\f077';
  color: $gothic;
}

.down:before {
  font-family: "FontAwesome";
  font-style: normal;
  font-size: 14px;
  content: '\f078';
  color: $gothic;
}

.disabled:before {
  opacity: 0.3;
  cursor: default;
}

.filter {
  input {
    padding: 2px;
  }

  &:after {
    font-family: "FontAwesome";
    font-style: normal;
    font-size: 14px;
    content: '\F057';
    position: absolute;
    right: 25px;
    top: 4px;
    color: $dove-grey;
  }
}

.ellipses {
  padding-right: 10px;

  span {
    margin-right: 15px;
    float: right;
  }
  span:after {
    font-family: "FontAwesome";
    font-style: normal;
    font-size: 14px;
    content: '\F142';
    color: $dove-grey;
  }
}

.fontawesome-checkbox ~ label {
  margin: 0px 12px 0px 8px;
}

input {
  font-size: 12px;
  height: 32px;
  width: 75%;
}

.selected {
  thead {
    th {
      font-size: 15px;
      margin-bottom: 15px;
      padding-left: 0px;
      border-bottom: 1px solid $dove-grey-2;
    }
  }

  tbody {
    tr {
      cursor: move;
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab;
      border-bottom: 1px solid $tundora-1;
      background: $tiber;

      td {
        padding: 5px 0px 6px 0px;
        line-height: 1.8;
      }
    }
  }
}

.available {
  thead {
    th {
      font-size: 15px;
      padding-left: 0px;
      border-bottom: 1px solid $dove-grey-2;
    }
  }
}

.container .group-by-items {

}

.gu-mirror {
  display: none;
}

.handle {
  cursor: move;
}