<!--
  Licensed to the Apache Software
	Foundation (ASF) under one or more contributor license agreements. See the
	NOTICE file distributed with this work for additional information regarding
	copyright ownership. The ASF licenses this file to You under the Apache License,
	Version 2.0 (the "License"); you may not use this file except in compliance
	with the License. You may obtain a copy of the License at
  http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software distributed
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for
  the specific language governing permissions and limitations under the License.
  -->
<div class="metron-slider-pane-editable load-right-to-left dialog2x">
  <div class="container-fluid">
    <div class="row mb-3">
      <div class="col-md-10">
        <div class="form-title font-weight-bold">Configure Table</div>
      </div>
      <div class="col-md-2"><i class="fa fa-times pull-right close-button" aria-hidden="true" (click)="goBack()"></i></div>
    </div>

    <div class="row mb-3">
      <div class="col filter">
        <input class="input w-100" placeholder="Filter list">
      </div>
    </div>

    <table class="table selected">
      <thead>
      <tr>
        <th class="title"> SELECTED </th>
        <th class="title"> Short Name </th>
        <th class="title"> Type </th>
      </tr>
      </thead>
      <tbody [dragula]='"selected"'>
        <tr *ngFor="let columns of configuredColumns">
          <td>
            <input #selectColName id="select-deselect-{{ columns.columnMetadata.name }}" class="fontawesome-checkbox" type="checkbox" [checked]="columns.selected" (click)="selectColumn(columns)">
            <label for="select-deselect-{{ columns.columnMetadata.name }}"></label>
            <span> {{ columns.columnMetadata.name | centerEllipses:24  }} </span>
          </td>
          <td> <input class="input" placeholder="rename" [(ngModel)]="columns.displayName"> </td>
          <td class="text-uppercase ellipses"> {{ columns.columnMetadata.type }} <span> </span></td>
        </tr>
      </tbody>
    </table>

    <table class="table available">
      <thead>
      <tr>
        <th class="title"> AVAILABLE </th>
        <th class="title"> Type </th>
      </tr>
      </thead>
      <tbody [dragula]='"selected"'>
      <tr *ngFor="let columns of allColumns">
        <td>
          <input #selectColName id="select-avail-deselect-{{ columns.columnMetadata.name }}" class="fontawesome-checkbox" type="checkbox" [checked]="columns.selected" (click)="selectColumn(columns)">
          <label for="select-avail-deselect-{{ columns.columnMetadata.name }}"></label>
          <span> {{ columns.columnMetadata.name | centerEllipses:70  }} </span>
        </td>
        <td class="text-uppercase"> {{ columns.columnMetadata.type }} </td>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="container-fluid metron-floating-button-bar-2x">
    <button type="submit" class="btn btn-all_ports" (click)="save()">SAVE</button>
    <button class="btn btn-mine_shaft_2" (click)="goBack()">CANCEL</button>
  </div>
</div>
